.git
.gitignore
.dockerignore
**/__pycache__/
**/*.pyc
.vscode/
.env
setting/config.toml
setting/trackingdata.txt
docker-compose.yml
docker-compose.yml.example
Dockerfile
README.md
README.jp.md
logs/
data/
.venv/
.trashbox/
.DS_Store
