services:
  grassrootsterminal:
    image: loveyokado/grassrootsterminal:latest
    container_name: grassrootsterminal-app
    # user: "${UID:-1000}:${GID:-1000}"
    ports:
      - "5000:5000"
    volumes:
      - ./src:/app/src
      - ./setting:/app/setting
      - ./data:/app/data
      - ./logs:/app/logs
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - grterm-net
    restart: unless-stopped

  # Synchronet BBS (Telnet) 
  sbbs:
    image: loveyokado/synchronet:latest
    container_name: grassrootsterminal-sbbs
    volumes:
      - ./sbbs/ctrl:/sbbs/ctrl
      - ./sbbs/data:/sbbs/data
      - ./sbbs/text:/sbbs/text
      - ./sbbs/web:/sbbs/web
    ports:
      - "23:23"
    networks:
      - grterm-net
    restart: unless-stopped

networks:
  grterm-net:
